uvicorn==0.34.0
fastapi==0.115.6
selenium==4.27.1
webdriver-manager==4.0.2
bs4==0.0.2
sqlalchemy==2.0.36
pinecone[grpc]==5.4.2
langchain==0.3.14
transformers==4.47.1
lanhchain-openai==0.2.13
passlib==1.7.4
